.profile__name {
  margin: 0 18px 0 0;
  font-weight: 500;
  font-size: 42px;
  font-style: normal;
  line-height: 48px;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

/* стили от 320 и до 768 пикселей — от большого смартфона до вертикального положения планшета */
@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin: 0 10px 0 28px; /*отступ для выравнивания по центру*/
  }
}
