.profile__bio {
  margin: 3px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: bio;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

/* стили от 320 и до 768 пикселей — от большого смартфона до вертикального положения планшета */
@media screen and (max-width: 768px) {
  .profile__bio {
    margin-top: 4px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
