.photo-grid__like-button {
  margin-top: 0;
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  border: none;
  outline: 0;
  background-color: transparent;
  background-image: url(../../../images/heart-icon-empty.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.photo-grid__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
